$blue: #1989fa;
$red: rgb(255, 68, 68);
$gray: #999999;
$dark-red: #9a1a1a;

.inline-block {
  display: inline-block;
}
.tip {
  color: #ff976a;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}
.border-bottom {
  border-bottom: 1px solid rgba($color: #dbdbdb, $alpha: 0.21);
  padding-bottom: 10px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.panel {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 6px;
}
.text-center {
  text-align: center;
}
.title {
  text-align: center;
  font-size: 18px;
  color: $blue;
  font-weight: bold;
}
.part-title {
  color: $dark-red;
  font-weight: 700;
}
.cursor-pointer {
  cursor: pointer;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.color-gray {
  color: $gray;
}
.color-red {
  color: $red;
}
.color-blue {
  color: $blue;
}
.color-dark-red {
  color: $dark-red;
}
.padding4 {
  padding: 4px 0;
}
.margin4 {
  margin: 4px 0;
}
.input {
  border: 1px solid #dcdfe6;
  color: #606266;
  border-radius: 4px;
  padding: 3px 6px;
  &:focus {
    outline: none;
    border-color: $blue;
  }
}
.bottom-btn {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
}
.form-required {
  &::before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
  }
}
.form-unrequired {
  padding-left: 10px;
  box-sizing: border-box;
}
.overflow-scroll {
  overflow-y: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.total-pay {
  text-align: right;
  padding: 6px 0;
  .count {
    margin-right: 10px;
  }
  .money {
    color: $red;
  }
}
