.appointment-wrap {
  ::v-deep {
    .van-dialog__header {
      padding: 10px 0;
    }
  }
  .tip {
    padding-top: 0;
    padding-bottom: 8px;
  }
  .form {
    padding: 0 16px;
  }
  .overflow-scroll-1 {
    height: calc(100vh - 174px);
  }
  .overflow-scroll-2 {
    height: calc(100vh - 214px);
  }
  .part-title {
    font-size: 14px;
    padding-left: 6px;
  }
  .bottom-btn {
    bottom: 50px;
  }
  .panel {
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
  }
  .content-part {
    padding: 0 12px;
    .part-title {
      padding-left: 0;
    }
  }
}
