<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新人卡</title>
    <style>
        .j-rookieCard {
            padding: 10px;
            text-align: center;
        }

        .j-info {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div id="J_rookieCard" class="j-rookieCard">
        <h4 class="text-primary" style="text-align: center;">提交成功</h4>
        <div class="j-info">
        </div>
    </div>
</body>
    <script src="../lib/jquery.min.js"></script>
    <script>
        $(function() {
            function GetQueryString(name)
            {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if(r!=null)return  unescape(r[2]); return null;
            }
            var $jInfo = $('.j-info');
            var alreadyBelieve = GetQueryString('alreadyBelieve');
            var dxORzm = GetQueryString('dxORzm');
            if (alreadyBelieve == 'true') {
                $jInfo.html('谢谢你，亲爱的' + (dxORzm == 'dx' ? '弟兄' : '姊妹') + '，</br>希望你可以有稳定的小组、团契！</br>之后我们会有' + (dxORzm == 'dx' ? '弟兄' : '姊妹') + '联系你。');
            } else {
                $jInfo.html('谢谢你想要主动了解这份信仰，</br>希望你可以有稳定的小组、团契！</br>之后我们会有' + (dxORzm == 'dx' ? '弟兄' : '姊妹') + '联系你。');
            }
        })
    </script>
</html>