.appointment-wrap {
  .form {
    padding: 16px;
  }
  .overflow-scroll {
    height: calc(100vh - 134px);
  }
  .part-title {
    font-size: 14px;
    padding-left: 6px;
  }
  .bottom-btn {
    bottom: 50px;
  }
  .panel {
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
  }
  .content-part {
    padding: 0 12px;
    .part-title {
      padding-left: 0;
    }
  }
}
