<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新人卡</title>
    <!-- <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"> -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .j-rookieCard {
            padding: 20px;
        }

        .paddingTop8 {
            padding-top: 8px;
        }

        .j-distpicker select {
            width: 33.3%;
        }

        .marginTop6 {
            margin-top: 6px;
        }

        .cursorPointer {
            cursor: pointer;
        }

        .j-toolTipWrapper {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 70%;
            /* background-color: red; */
        }

        .j-toolTip {
            text-align: center;
            display: none;
            padding: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 4px;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div id="J_rookieCard" class="j-rookieCard">
        <h4 class="text-primary" style="text-align: center;">新人欢迎卡</h4>
        <form enctype="multipart/form-data" method="POST" id="uploadInfo" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-xs-4 paddingTop8 control-label">
                    <span class="text-danger">* </span>你的姓名</label>
                <div class="col-xs-8">
                    <input type="text" name="name" class="form-control" id="name">
                </div>
            </div>
            <div class="form-group">
                <span tabindex="-1" id="sex"></span>
                <label for="" class="col-xs-4 paddingTop8 control-label">
                    <span class="text-danger">* </span>性别
                </label>
                <div class="col-xs-8">
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="male"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="female"> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="birthday" class="col-xs-4 paddingTop8 control-label">
                    <span class="text-danger">&nbsp;&nbsp;</span>生日</label>
                <div class="col-xs-8">
                    <input type="text" style="background-color: #fff;" readonly="readonly" name="birthday" class="form-control" id="birthday">
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-xs-4 paddingTop8 control-label">
                    <span class="text-danger">* </span>联系电话</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="number" id="number" maxlength="11">
                </div>
            </div>
            <div class="form-group">
                <label for="school" class="col-xs-12 paddingTop8 control-label">
                    <span class="text-danger">&nbsp;&nbsp;</span>学校或工作单位</label>
                <div data-toggle="distpicker" class="j-distpicker j-schoolOrCompany col-xs-12">
                    <select class="form-control pull-left" data-province="浙江省"></select>
                    <select class="form-control pull-left" data-city="杭州市"></select>
                    <select class="form-control pull-left" data-district="西湖区"></select>
                </div>
                <div class="col-xs-12 marginTop6">
                    <input type="text" class="form-control" name="schoolOrCompany">
                </div>
            </div>
            <div class="form-group">
                <label for="school" class="col-xs-12 paddingTop8 control-label">
                    <span class="text-danger">* </span>个人住址</label>
                <div data-toggle="distpicker" class="j-distpicker j-address col-xs-12">
                    <select class="form-control pull-left" data-province="浙江省"></select>
                    <select class="form-control pull-left" data-city="杭州市"></select>
                    <select class="form-control pull-left" data-district="西湖区"></select>
                </div>
                <div class="col-xs-12 marginTop6">
                    <input type="text" class="form-control" name="addressPart" id="addressPart">
                </div>
            </div>
            <div class="form-group">
                <span tabindex="-1" id="beliefState"></span>
                <label for="" class="col-xs-12 paddingTop8 control-label">
                    <span class="text-danger">* </span>你的信仰状况
                </label>
                <div class="col-xs-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="beliefState" value="已经信主"> 已经信主
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="beliefState" value="想要信主"> 想要信主
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="beliefState" value="暂未信主，只是感兴趣"> 暂未信主，只是感兴趣
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="leaderName" class="col-xs-12 paddingTop8 control-label">
                    <span class="text-danger">* </span>谁带你来这个家的？</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control" name="leaderName" id="leaderName">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-12 paddingTop8 control-label">
                    <span class="text-danger">&nbsp;&nbsp;</span>你和TA的关系是</label>
                <div class="col-xs-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="relationship" value="同学"> 同学
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="relationship" value="朋友"> 朋友
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="relationship" value="亲人"> 亲人
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="leaderNumber" class="col-xs-12 paddingTop8 control-label">
                    <span class="text-danger">&nbsp;&nbsp;</span>TA的电话是？</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control" name="leaderNumber" id="leaderNumber" maxlength="11">
                </div>
            </div>
            <div class="form-group">
                <label for="saySomething" class="col-xs-12 paddingTop8 control-label">
                    <span class="text-danger">&nbsp;&nbsp;</span>有什么想了解的？或建议？</label>
                <div class="col-xs-12">
                    <textarea name="saySomething" id="saySomething" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="form-group" style="text-align: center;">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary j-submit cursorPointer">提交</button>
                </div>
            </div>

        </form>

    </div>
    <div class="j-toolTipWrapper">
        <div id="J_toolTip" class="j-toolTip">
        </div>
    </div>
</body>
<script src="../lib/jquery.min.js"></script>
<script src="../lib/distpicker/js/distpicker.data.js"></script>
<script src="../lib/distpicker/js/distpicker.min.js"></script>
<script src="../lib/datePicker.js"></script>
<script>
    $(function () {
        var calendar = new datePicker();
        calendar.init({
            'trigger': '#birthday', /*按钮选择器，用于触发弹出插件*/
            'type': 'date',/*模式：date日期；datetime日期时间；time时间；ym年月；*/
            'minDate':'1900-1-1',/*最小日期*/
            'maxDate':'2100-12-31',/*最大日期*/
            'onSubmit':function(){/*确认时触发事件*/
                var theSelectData=calendar.value;
            },
            'onClose':function(){/*取消时触发事件*/
            }
        })
        $('.j-submit').on('click', function () {
            var $toolTip = $('#J_toolTip');
            // window.location.href = './test.html';
            var $schoolOrCompany = $('.j-schoolOrCompany');
            var $address = $('.j-address');
            var formData = new FormData($('#uploadInfo')[0]);
            var name = formData.get('name');
            var sex = formData.get('sex');
            var number = formData.get('number');
            var addressPart = formData.get('addressPart');
            var beliefState = formData.get('beliefState');
            var birthday = formData.get('birthday');
            var schoolOrCompanyPart = formData.get('schoolOrCompany');
            var leaderName = formData.get('leaderName');
            var leaderNumber = formData.get('leaderNumber');
            var saySomething = formData.get('saySomething');
            var time = 2000;
            if (!name) {
                $toolTip.html('对不起，请填写您的姓名').show().fadeOut(time);
                $('#name').focus();
                return;
            }
            if (!sex) {
                $toolTip.html('对不起，请选择您的性别').show().fadeOut(time);
                $('#sex').focus();
                return;
            }
            if (!number) {
                $toolTip.html('对不起，请填写您的手机号').show().fadeOut(time);
                $('#number').focus();
                return;
            }
            if (!addressPart) {
                $toolTip.html('对不起，请填写您的个人住址').show().fadeOut(time);
                $('#addressPart').focus();
                return;
            }
            if (!beliefState) {
                $toolTip.html('对不起，请选择您的信仰状况').show().fadeOut(time);
                $('#beliefState').focus();
                return;
            }
			if (!leaderName) {
                $toolTip.html('对不起，请填写此项').show().fadeOut(time);
                $('#leaderName').focus();
                return;
            }
            if (!validateNumber(number)) {
                $toolTip.html('对不起，请填写正确的手机号').show().fadeOut(time);
                $('#number').focus();
                return;
            }
            if (leaderNumber && !validateNumber(leaderNumber)) {
                $toolTip.html('对不起，请填写正确的手机号').show().fadeOut(time);
                $('#leaderNumber').focus();
                return;
            }
            var address = getPlace($address) + addressPart;
            var schoolOrCompany = getPlace($schoolOrCompany) + schoolOrCompanyPart;
            var data = {
                name: name,
                gender: sex == 'male' ? 1 : 0,
                birthday: birthday,
                mobile: number,
                schoolOrCompany: schoolOrCompany,
                address: address,
                religionSituation: beliefState,
                referrerName: leaderName,
                referrerMobile: leaderNumber,
                leaveMsg: saySomething,
            }
            $.ajax({
                url: 'http://47.96.117.167/lop/app/freshman/add',
                type: 'post',
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function () {
                    var alreadyBelieve = (data.religionSituation && data.religionSituation.indexOf('已经信主') > -1) ? true : false
                    var dxORzm = data.gender == 0 ? 'dx' : 'zm';
                    window.location.href = './success.html?alreadyBelieve=' + alreadyBelieve + '&dxORzm=' + dxORzm;
                },
                error: function () {
                    alert('提交失败');
                }
            })
        })

        function validateNumber(data) {
            var telRegex = /^[1][3,4,5,7,8][0-9]{9}$/;
            return telRegex.test(data);
        }

        function getPlace($obj) {
            var str = '';
            $obj.children('select').map(function (item, idx) {
                var text = $(item).find('option:selected').text();
                str += text;
            })
            return str;
        }
    })
</script>

</html>