.form-wrap {
  padding: 16px 12px;
  .title {
    text-align: center;
    font-size: 18px;
    color: #1989fa;
    font-weight: bold;
  }
  .form {
    margin-top: 12px;
    .fishing-date-warning {
      color: #ff976a;
      font-size: 12px;
      padding-left: 16px;
    }
    .item-wrap {
      ::v-deep {
        .van-cell {
          padding-bottom: 0;
        }
        .border-bottom {
          border-bottom: 1px solid rgba($color: #dbdbdb, $alpha: 0.21);
          padding-bottom: 10px;
        }
      }
      .field-padding-none {
        padding: 0;
      }
      .item-label {
        padding-top: 10px;
        padding-left: 8px;
        color: #323233;
        font-size: 14px;
        line-height: 24px;
      }
      // padding-bottom: 10px;
      ::v-deep {
        .van-checkbox-group {
          margin-left: 16px;
        }
      }
    }
  }
}
